<div class="container">
  <div class="row">
    <app-header class="col text-center"></app-header>
  </div>
</div>
<app-menu *ngIf="isTableView" (addEvent)="isTableView = false"></app-menu>
<app-contact-list *ngIf="isTableView" [contacts]="contacts"></app-contact-list>
<app-contact-form
  *ngIf="!isTableView"
  (saveEvent)="addNewContact($event)"
></app-contact-form>

<!-- <app-contact-list
  *ngIf="isTableView; else formView"
  [contacts]="contacts"
></app-contact-list>

<ng-template #formView>
  <app-contact-form></app-contact-form>
</ng-template> -->
